/* ---------- FONTS ---------- */
/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Open+Sans:wght@600&family=Playfair+Display:wght@600&family=Roboto&display=swap');

.dangrek-regular {
  font-family: "Dangrek", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.playfair-display {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

/* ---------- base.html ---------- */

/* Navigation bar */
.nav-wrapper {
    background-color: #FFF3D3;
}   
nav .brand-logo {
    color: #D93B58;
}
.site-logo {
    height: 100%;
    max-height: 3rem;
    margin-bottom: -10px;
}
nav ul a{
    color: #333A3F;
    font-size: 1.2rem;
}
.sidenav li>a {
    color: #D93B58;
}

/* Burger menu */
.fa-bars {
    color: #D93B58;
    font-size: 2rem;
}
#mobile-demo a {
    color: #D93B58;
}
#mobile-demo {
    background-color: #FFF3D3;
}

/* Footer */
.page-footer {
    background-color: #FFF3D3;
}
.footer-logo {
    color: #D93B58;
    font-size: 2em;
}
#developer {
    text-align: center;
    color: #333A3F;
}
#developer span {
    font-weight: bolder;
}
#contact-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}
#contact-links li{
    display: inline;
}
.contact-link i{
    font-size: 2rem;
    color: #333A3F;
}
.contact-link i:hover{
    color:#D93B58;
    transition-duration: 0.5s;
}