/* ---------- FONTS ---------- */
/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Open+Sans:wght@600&family=Playfair+Display:wght@600&family=Roboto&display=swap');

.dangrek-regular {
  font-family: "Dangrek", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.playfair-display {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-weight: 600;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* ---------- base.html ---------- */
main {
    background-color: #FFF3D3;
}

/* Navigation bar */
.nav-wrapper {
    background-color: #FFF3D3;
}

nav .brand-logo {
    color: #D93B58;
    max-height: 64px !important;
    overflow: hidden;
}

h1 {
    text-decoration: none;
    font-size: 2.1rem;
    line-height: 64px;
    font-weight: 400;
    margin: 0;
    display: inline-block;
}

.site-logo {
    height: 100%;
    max-height: 3rem;
    margin-top: 10px;
}

nav ul a{
    color: #333A3F;
    font-size: 1.2rem;
}

.sidenav li>a {
    color: #D93B58;
}

/* Burger menu */
.fa-bars {
    color: #D93B58;
    font-size: 2rem;
}

#mobile-demo a {
    color: #D93B58;
}

#mobile-demo {
    background-color: #FFF3D3;
}

/* Footer */
.page-footer {
    background-color: #FFF3D3;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.footer-logo {
    color: #D93B58;
    font-size: 2em;
}

#developer {
    text-align: center;
    color: #333A3F;
}

#developer span {
    font-weight: bolder;
}

#contact-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

#contact-links li{
    display: inline;
}

.contact-link i{
    font-size: 2rem;
    color: #333A3F;
}

.contact-link i:hover{
    color:#D93B58;
    transition-duration: 0.5s;
}

main {
    margin: 0;
    top: 0;
    padding: 0; 
}

/* ---------- home.html ---------- */
#hero-image{
    background: url(/static/img/home_hero_image.webp) no-repeat center/cover;
    overflow: hidden;
    height: 480px;
    width: 100%;
    justify-content: center;
}

.hero-text  {
    color: #f5f5f5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    display: block;
    font-size: 4.5rem;
}

.hero-button {
    background-color: #f5f5f5;
    color: #333A3F;
    margin-left: 20px;
    margin-right: 20px;
}

.hero-button:hover, .hero-button:focus {
    background-color: #D93B58;
    color: #FFF3D3;
}

#homepage-message {
    color: #333A3F;
    text-align: center;
    font-size: 2.5rem;
    max-width: 90%;
    margin: 0 auto;
}

/* ---------- signup.html ---------- */
#signup-title {
    text-align: center;
    margin-bottom: 30px;
}

#signup-form {
    max-width: min(400px, 85%);
    margin: 0 auto;
}

#signup-form i {
    color: #333A3F;
    font-size: 1.5rem;
    padding: 0 10px 0 5px;
}

#signup-form label {
    color: #333A3F;
    font-size: 1.5rem;
}

#signup-form input {
    margin-bottom: 20px;
}

#signup-form #password {
    margin-bottom: 0 !important;
}

#signup-form span {
    color: #808080;
    margin-bottom: 20px;
}

.confirm-password {
    margin-top: 20px;
}

#signup-button {
    font-size: 1.5rem;
    background-color: #D93B58;
    color: #FFF3D3;
    cursor: pointer;
}

/* ---------- login.html ---------- */
#login-title {
    text-align: center;
}

#login-form {
    max-width: min(300px, 85%);
    margin: 0 auto;
}

#login-form label {
    color: #333A3F;
    font-size: 1.5rem;
}

#login-form input {
    margin-bottom: 20px;
}

#login-button {
    font-size: 1.5rem;
    background-color: #D93B58;
    color: #FFF3D3;
    cursor: pointer;
}

#login-form p {
    text-align: center;
}

#login-form p a {
    text-transform: none;
    font-size: 1.1rem;
    background-color: #D93B58;
    color: #FFF3D3;
    box-shadow: none;
    border: 2pt solid black;
}

.login-failure {
    font-size: 0.8rem;
    font-weight: bolder;
    color: #D93B58;
    margin-bottom: 10px;
}

/* ---------- toys.html ---------- */
#toys-title {
    text-align: center;
    margin: 10px;
}

#toys-page {
    width: 95%;
}

.toys-card {
    background-color: rgba(0, 0, 0, 0.1);
    height: 386px;
    overflow: auto;
}

.toy-description {
    height: 150px !important;
    overflow: auto;
}

.card-image {
    background-color: rgba(0, 0, 0, 0.05);
}

.toy-image-link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.toys-image {
    width: auto !important;
    max-height: 200px;
}

.toys-toy-title {
    color: #333A3F;
}

.toys-toy-title h2 a {
    text-decoration: none;
    color:#D93B58;
}

.toys-buttons-div{
    display: flex;
    justify-content: space-evenly;
}

.toys-buttons {
    background-color: #f5f5f5;
    color: #333A3F;
}

.toys-buttons:hover, .toys-buttons:focus {
    background-color: #D93B58;
    color: #FFF3D3;
}

.add-toy-button {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 15%;
}

.add-toy-button i{
    color: #D93B58;
}

.add-toy-button p{
    margin: 0 auto;
    color: #f5f5f5;
}

/* ---------- add_toy.html ---------- */
#add-toy-title {
    text-align: center;
}

#add-toy-form {
    max-width: min(600px, 85%);
    margin: 0 auto; 
}

#add-toy-form label {
    color: #333A3F;
    font-size: 1rem;
}

.add-toy-input {
    margin-top: 20px;
}

.add-toy-input #description {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    overflow: auto;
    height: 200px;
}

.select-wrapper>ul>li>span {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color:#D93B58;
    background-color: #FFF3D3;
}

.select-wrapper>ul>li>span:hover {
    color:#333A3F;
    font-weight: bolder;
    background-color: #FFF3D3;
}

#add-toy-button {
    font-size: 1.5rem;
    background-color: #D93B58;
    color: #FFF3D3;
    cursor: pointer;
    margin-bottom: 50px;    
}

.form-required {
    color: #D93B58;
}

/* ---------- edit_toy.html ---------- */
#edit-toy-title {
    text-align: center;
}

#edit-toy-form {
    max-width: min(600px, 85%);
    margin: 0 auto; 
}

#edit-toy-form label {
    color: #333A3F;
    font-size: 1rem;
}

.edit-toy-input {
    margin-top: 20px;
}

#edit-toy-button {
    font-size: 1.5rem;
    background-color: #D93B58;
    color: #FFF3D3;
    cursor: pointer;
    margin-bottom: 50px;    
}

/* ---------- individual_toy.html ---------- */
#back-to-toys {
    font-size: 1.5rem;
    margin-left: 2rem;
    float: left;
    color: #333A3F;
}

#individual-toy-title {
    text-align: center;
}

.toy-row {
    margin: 0 auto;
    max-width: 800px;
}

.toy-image {
    max-height: 70vh !important;
    max-width: 750px;
    width: auto !important;
    margin: 0 auto;
}

.toy-information-display .card-image {
    background-color: rgba(255, 243, 211, 0.55);
    padding: 10px;
}

.individual-toy-rating {
    color:#D93B58 !important;
}

.toy-col-1 {
    color:#333A3F;
    width: 30%;
    font-weight: bolder;
}

.toy-col-2 {
    color:#333A3F;
}

.toy-buttons-div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.toy-buttons {
    background-color: #f5f5f5;
    color: #333A3F;
}

.toy-buttons:hover, .toy-buttons:focus {
    background-color: #D93B58;
    color: #FFF3D3;
}

.show-reviews{
    margin: 0 auto;
    max-width: 800px;
    position: relative;
}

#toy-review-title {
    text-align: center;
    color: #D93B58;
    font-size: 4rem;
    text-shadow: #333A3F;
}

.review-row {
    border: 1pt solid #F6D36A;
    box-shadow: 5px 5px #F6D36A;
}

.review-author {
    font-size: 1.3rem;
}

.review-rating {
    text-align: right;
}

.review-name-divider {
    border-top: 1px solid #F6D36A;
}

.carousel {
    height: 250px;
}

.carousel-divider {
    border: 2px solid #D93B58;
    border-radius: 1px;
    width: 50%;
}

.also-liked-title {
    margin-bottom: 0;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

.carousel-toy {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item {
    height: 225px !important;
    width: 225px !important;
    text-align: center;
}

.liked-toy-link {
    color: #333A3F;
    text-shadow: -1px -1px 0 #f5f5f5, 1px -1px 0 #f5f5f5, 1px 1px 0 #f5f5f5,
    1px 1px 0 #f5f5f5;
    font-size: 1.5rem;
}

.review-divider {
    margin-bottom: 14px;
    border: 2px dashed #D93B58;
    width: 100%;
}

.review-buttons {
    margin-bottom: 10px;
    text-align: center;
}

/* ---------- 404.html AND 500.html ---------- */
.title-error{
    text-align: center;
}

.message-error{
    text-align: center;
}

.redirect-button {
    font-size: 1.5rem;
    background-color: #D93B58;
    color: #FFF3D3;
    cursor: pointer;
}

.redirect-button:hover, .redirect-button:focus {
    font-size: larger;
    background-color: #D93B58;
    color: #FFF3D3;
}

/* ---------- profile.html ---------- */
.profile-content {
    width: min(1200px, 80%);
    max-height: 80vh;
}

.profile-picture {
    overflow: hidden;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.country-flag {
    height: 45px;
    width: 60px;
    float: right;
}

.parent-check {
    margin-top: 10px;
    float: right;
}

.parent-check span {
    color:#333A3F;
}

.parent-check i {
    color: green;
    font-size: 1.5rem;
    padding: 0;
}

.profile-name {
    text-align: center;
}

.profile-about-me {
    color: #333A3F;
    max-height: 300px;
    overflow: auto;
}

.profile-about-me span{
    font-weight: bolder;
    font-size: 1.5rem;
}

.profile-buttons {
    font-size: 1.5rem;
    background-color: #f5f5f5;
    color: #333A3F;
    padding: 5px;
}

.profile-buttons:hover, .profile-buttons:focus {
    background-color: #D93B58;
    color: #FFF3D3;
}

/* ---------- edit_profile.html ---------- */
#edit-profile-title {
    text-align: center;
}

#edit-profile-form {
    max-width: min(600px, 85%);
    margin: 0 auto; 
}

#edit-profile-form label {
    color: #333A3F;
    font-size: 1rem;
}

.edit-profile-input {
    margin-top: 20px;
}

#edit-profile-button {
    font-size: 1.5rem;
    background-color: #D93B58;
    color: #FFF3D3;
    cursor: pointer;
    margin-bottom: 50px;    
}

/* ---------- add_review.html ---------- */
#add-review-title {
    text-align: center;
}

#add-review-form {
    max-width: min(600px, 85%);
    margin: 0 auto; 
}

#add-review-form label {
    color: #333A3F;
    font-size: 1rem;
}

.add-review-input {
    margin-top: 20px;
}

.submit-failure {
    font-size: 0.8rem;
    font-weight: bolder;
    color: #D93B58;
    margin-bottom: 10px;
}

#add-review-button {
    font-size: 1.5rem;
    background-color: #D93B58;
    color: #FFF3D3;
    cursor: pointer;
    margin-bottom: 50px;    
}

/* ---------- edit_review.html ---------- */


/* ----------- Materialize changes ---------- */
[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #D93B58;
    border-bottom: 2px solid #D93B58;
}
