/* ---------- FONTS ---------- */
/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Open+Sans:wght@600&family=Playfair+Display:wght@600&family=Roboto&display=swap');

.dangrek-regular {
  font-family: "Dangrek", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.playfair-display {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Sticky Footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

/* ---------- base.html ---------- */
main {
    background-color: #FFF3D3;
}
/* Navigation bar */
.nav-wrapper {
    background-color: #FFF3D3;
}   
nav .brand-logo {
    color: #D93B58;
}
.site-logo {
    height: 100%;
    max-height: 3rem;
    margin-bottom: -10px;
}
nav ul a{
    color: #333A3F;
    font-size: 1.2rem;
}
.sidenav li>a {
    color: #D93B58;
}

/* Burger menu */
.fa-bars {
    color: #D93B58;
    font-size: 2rem;
}
#mobile-demo a {
    color: #D93B58;
}
#mobile-demo {
    background-color: #FFF3D3;
}

/* Footer */
.page-footer {
    background-color: #FFF3D3;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}
.footer-logo {
    color: #D93B58;
    font-size: 2em;
}
#developer {
    text-align: center;
    color: #333A3F;
}
#developer span {
    font-weight: bolder;
}
#contact-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}
#contact-links li{
    display: inline;
}
.contact-link i{
    font-size: 2rem;
    color: #333A3F;
}
.contact-link i:hover{
    color:#D93B58;
    transition-duration: 0.5s;
}

main {
    margin: 0;
    top: 0;
    padding: 0; 
}


/* Homepage */
#hero-image{
    background: url(/static/img/home_hero_image.webp) no-repeat center/cover;
    overflow: hidden;
    height: 480px;
    width: 100%;
    justify-content: center;
}
.hero-text  {
    color: #f5f5f5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    display: block;
}
.hero-button {
    background-color: #f5f5f5;
    color: #333A3F;
    margin-left: 20px;
    margin-right: 20px;
}
.hero-button:hover, .hero-button:focus {
    background-color: #D93B58;
    color: #FFF3D3;
}
#homepage-message {
    color: #333A3F;
    text-align: center;
    font-size: 2.5rem;
    max-width: 90%;
    margin: 0 auto;
}

/* signup.html */
#signup-form {
    max-width: min(400px, 85%);
    margin: 0 auto;
}
#signup-form i {
    color: #333A3F;
    font-size: 1.5rem;
    padding: 0 10px 0 5px;
}
#signup-form label {
    color: #333A3F;
    font-size: 1.5rem;
    
}
#signup-form input {
    margin-bottom: 20px;
}
#signup-form #password {
    margin-bottom: 0 !important;
}

#signup-form span {
    color: #808080;
    margin-bottom: 20px;
}
.confirm-password {
    margin-top: 20px;
}
#signup-button {
    font-size: 1.5rem;
    background-color: #D93B58;
    color: #FFF3D3;
    cursor: pointer;
}

/* login.html */
#login-form {
    max-width: min(300px, 85%);
    margin: 0 auto;
}
#login-form label {
    color: #333A3F;
    font-size: 1.5rem;
}
#login-form input {
    margin-bottom: 20px;
}
#login-button {
    font-size: 1.5rem;
    background-color: #D93B58;
    color: #FFF3D3;
    cursor: pointer;
}
#login-form p {
    text-align: center;

}
#login-form p a {
    text-transform: none;
    font-size: 1.1rem;
    background-color: #D93B58;
    color: #FFF3D3;
    box-shadow: none;
    border: 2pt solid black;
}

/* toys.html */
#toys-title {
    text-align: center;
    margin: 10px;
}
#toys-page {
    width: 95%;
}
.toys-card {
    background-color: rgba(0, 0, 0, 0.1);
    height: 386px;
}
.card-image {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
}
.toys-image {
    width: auto !important;
    max-height: 200px;
}
.toys-toy-title {
    color: #333A3F;
}
.toys-toy-title h2 a {
    text-decoration: none;
    color:#D93B58;
}
.toys-buttons-div{
    display: flex;
    justify-content: space-evenly;
}
.toys-buttons {
    background-color: #f5f5f5;
    color: #333A3F;
}
.toys-buttons:hover, .toys-buttons:focus {
    background-color: #D93B58;
    color: #FFF3D3;
}
.add-toy-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.add-toy-card i{
    font-size: 5rem;
    color: grey;
}
.add-toy-card p {
    color: grey;
}

