{% extends "base.html" %}

<!-- Title for browser tab -->
{% block title %}
    > Add Toy
{% endblock %}

<!-- Add Toy Page Content -->
{% block content %}
    <!-- Check if the user is logged in -->
    {% if 'user_id' in session %}
        <!-- Back button -->
        <a href="{{ url_for('toys') }}" class="open-sans back-button" aria-label="Go back to toys page.">
            <i class="fa-solid fa-backward-step"></i>
            <span>Back</span>
        </a>
        <br>
        <!-- Add Toy Title -->
        <h2 id="add-toy-title">
            <img src="{{ url_for('static',filename='img/add_toy_title.png')}}" alt="Page title for Adding Toys">
        </h2>
        <!-- Add toy form -->
        <form id="add-toy-form" method="POST">

            {{ form.hidden_tag() }}

            <!-- Toy name -->
            <div class="add-toy-input">
                {{ form.name.label(class_="roboto-regular") }}
                <span class="form-required">*</span>
                {{ form.name }}
            </div>

            <!-- Toy company -->
            <div class="add-toy-input">
                {{ form.company.label(class_="roboto-regular") }}
                <span class="form-required">*</span>
                {{ form.company }}
            </div>

            <!-- Toy type -->
            <div class="add-toy-input">
                {{ form.toy_type_id.label(class_="roboto-regular", id="toy-type-label") }}
                <span class="form-required">*</span>
                <select id="toy_type_id" name="toy_type_id" class="form-control">
                    <option value='0' selected>Select Toy Type</option>
                    {% for toy_type in toy_types %}
                        <option value="{{ toy_type.id }}">{{ toy_type.toy_type }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Error Messages -->
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="form-error-messages open-sans">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <!-- Toy description -->
            <div class="roboto-regular add-toy-input">
                {{ form.description.label }}
                {{ form.description }}
            </div>

            <!-- Toy image -->
            <div class="roboto-regular add-toy-input">
                {{ form.image_url.label }}
                {{ form.image_url }}
            </div>

            <!-- Submit button -->
            <input id="add-toy-button" class="roboto-regular" type="submit" value="Add Toy">
            <p class="form-required roboto-regular">*Required fields</p>
        </form>
        {% else %}
            <!-- Redirect to homepage -->
            <script>
                window.location.href = "{{ url_for('home') }}";
            </script>
    {% endif %}
{% endblock %}
