{% extends "base.html" %}

<!-- Title for browser tab -->
{% block title %}
    > Review {{ toy.name }}
{% endblock %}

<!-- Add Review Page Content -->
{% block content %}
    <!-- Check if the user is logged in -->
    {% if 'user_id' in session %}
        <!-- Check if the user hasn't already submitted a review -->
        <!-- Checks for accessing blocked page via url -->
         {% if not already_reviewed %}
            <!-- Back button -->
            <a href="{{ referer }}" class="open-sans back-button" aria-label="Go back to previous page">
                <i class="fa-solid fa-backward-step"></i>
                <span>Back</span>
            </a>
            <br>
            <!-- Add review title -->
            <h2 class="playfair-display" id="add-review-title">
                <img src="{{ url_for('static',filename='img/add_review_title.png')}}" alt="Page title for Review">
                <span> {{ toy.name }}</span>
            </h2>
            <!-- Add review form -->
            <form id="add-review-form" method="POST">

                {{ form.hidden_tag() }}

                <!-- Review content -->
                <div class="add-review-input">
                    {{ form.review_content.label(class_="roboto-regular") }}
                    <span class="form-required">*</span>
                    {{ form.review_content }}
                </div>

                <!-- Review rating -->
                <div class="add-review-input">
                    {{ form.rating.label(class_="roboto-regular", id="rating-label") }}
                    <span class="form-required">*</span>                
                    {{ form.rating }}
                </div>

                <!-- Flash Messages -->
                <div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="submit-failure open-sans">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <!-- Also liked checklist -->
                <div class="add-review-input">
                    {{ form.also_liked.label(class_="roboto-regular", id="liked-label") }}
                    {{ form.also_liked(class="form-control") }}
                </div>

                <!-- Submit button -->
                <input id="add-review-button" class="roboto-regular" type="submit" value="Submit Review">
                <p class="form-required roboto-regular">*Required fields</p>
            </form>
        {% else %}
            <!-- Redirect to Error 403: Access Denied -->
            <script>
                window.location.href = "{{ url_for('error403') }}";
            </script>
        {% endif %}
    {% else %}
        <!-- Redirect to homepage -->
        <script>
            window.location.href = "{{ url_for('home') }}";
        </script>
    {% endif %}
{% endblock %}