{% extends "base.html" %}

<!-- Title for browser tab -->
{% block title %}
    > Change Password
{% endblock %}

<!-- Change Password Page Content -->
{% block content %}
    <!-- Check if the user is the owner of the profile -->
    {% if logged_in_user==user.id %}
        <!-- Back button -->
        <a href="{{ referer }}" class="open-sans back-button" aria-label="Go back to previous page">
            <i class="fa-solid fa-backward-step"></i>
            <span>Back</span>
        </a>
        <br>
        <!-- Change password title -->
        <h2 class="playfair-display" id="change-password-title">Change Password</h2>
        <!-- Help text -->
        <div class="change-password-helper-text-container">
            <p class="change-passwordhelper-text roboto-regular">Password must be 8 or more characters and include at least one capital letter, one number, and one special character.</p>
        </div>
        <!-- Change password form -->
        <form id="password-form" method="POST">
   
            {{ form.hidden_tag() }}

            <!-- Old Password -->
            <label for="old_password" class="roboto-regular">{{ form.old_password.label }}</label>
            {{ form.old_password }}                            

            <!-- New Password -->
            <label for="new_password" class="roboto-regular">{{ form.new_password.label }}</label>
            {{ form.new_password }}
        
            <!-- Confirm Password -->
            <label for="confirm_password" class="roboto-regular">{{ form.confirm_password.label }}</label>
            {{ form.confirm_password }}
        
            <input id="change-password-button" class="roboto-regular" type="submit" value="Change Password">
        
        </form>
        <!-- Error Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} signup-error roboto-regular password-errors">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% else %}
        <!-- Redirect to Error 403: Access Denied -->
        <script>
            window.location.href = "{{ url_for('error403') }}";
        </script>
    {% endif %}
{% endblock %}