{% extends "base.html" %}

<!-- Title for browser tab -->
{% block title %}
    > Edit Review
{% endblock %}

<!-- Add Review Page Content -->
{% block content %}
    <!-- Check if the user is the author -->
    {% if user_id == review.user_id %}
        <!-- Back button -->
        <a href="{{ referer }}" class="open-sans back-button" aria-label="Go back to previous page">
            <i class="fa-solid fa-backward-step"></i>
            <span>Back</span>
        </a>
        <br>
        <!-- Edit review title -->
        <h2 id="edit-review-title">
            <img src="{{ url_for('static',filename='img/edit_review_title.png')}}" alt="Page title for Edit Review">
        </h2>

        <!-- Edit review form -->
        <form id="edit-review-form" method="POST">

            {{ form.hidden_tag() }}

            <!-- Review content -->
            <div class="edit-review-input">
                {{ form.review_content.label(class_="roboto-regular") }}
                <span class="form-required">*</span>
                {{ form.review_content }}
            </div>

            <!-- Review rating -->
            <div class="edit-review-input">
                {{ form.rating.label(class_="roboto-regular", id="rating-label") }}
                <span class="form-required">*</span>                
                {{ form.rating }}
            </div>

            <!-- Flash Messages -->
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="submit-failure open-sans">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <!-- Also liked -->
            <div class="edit-review-input">
                {{ form.also_liked.label(class_="roboto-regular", id="liked-label") }}
                {{ form.also_liked(class="form-control") }}
            </div>

            <!-- Submit button -->
            <input id="edit-review-button" class="roboto-regular" type="submit" value="Submit Review">
            <p class="form-required roboto-regular">*Required fields</p>
        </form>
    {% else %}
    <!-- Redirect to Error 403: Access Denied -->
        <script>
            window.location.href = "{{ url_for('error403') }}";
        </script>
    {% endif %}
{% endblock %}