{% extends "base.html" %}

<!-- Title for browser tab -->
{% block title %}
    > Edit toy
{% endblock %}

<!-- Edit Toy Page Content -->
{% block content %}
    <!-- Check if the user created the toy -->
    {% if user_id == toy.user_id %}
        <!-- Back button -->
        <a href="{{ referer }}" class="open-sans back-button" aria-label="Go back to previous page">
            <i class="fa-solid fa-backward-step"></i>
            <span>Back</span>
        </a>
        <br>
        <!-- Edit toy title -->
        <h2 class="playfair-display" id="edit-toy-title">
            <img src="{{ url_for('static',filename='img/edit_toy_title.png')}}" alt="Page title for Edit">
            <span> {{ toy.name }}</span>
        </h2>
        <!-- Edit toy form-->
        <form id="edit-toy-form" method="POST">

            {{ form.hidden_tag() }}

            <!-- Toy name -->
            <div class="edit-toy-input">
                <label for="name" class="roboto-regular">{{ form.name.label }}</label>
                {{ form.name }}
            </div>

            <!-- Toy company -->
            <div class="edit-toy-input">
                <label for="company" class="roboto-regular">{{ form.company.label }}</label>
                {{ form.company }}
            </div>

            <!-- Toy Type-->
            <div class="edit-toy-input">
                <label for="toy_type_id" class="roboto-regular">{{ form.toy_type_id.label }}</label>
                <select id="toy_type_id" name="toy_type_id" class="form-control">
                    <option value="" disabled selected>Select Toy Type</option>
                    {% for toy_type in toy_types %}
                        <option value="{{ toy_type.id }}" {% if toy_type.id == toy.toy_type_id %}selected{% endif %}>
                            {{ toy_type.toy_type }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Toy description -->
            <div class="roboto-regular edit-toy-input">
                <label for="description">{{ form.description.label }}</label>
                {{ form.description }}
            </div>
            
            <!-- Toy image -->
            <div class="roboto-regular edit-toy-input">
                <label for="image_url">{{ form.image_url.label }}</label>
                {{ form.image_url }}
            </div>

            <!-- Submit button -->
            <input id="edit-toy-button" class="roboto-regular" type="submit" value="Edit Toy">
        </form>
    {% else %}
        <!-- Redirect to Error 403: Access Denied -->
        <script>
            window.location.href = "{{ url_for('error403') }}";
        </script>
    {% endif %}
{% endblock %}