{% extends "base.html" %}

<!-- Title for browser tab -->
{% block title %}
    > Edit Profile
{% endblock %}

<!-- Edit Toy Page Content -->
{% block content %}
    <!-- Checks if the user is the owner of the profile -->
    {% if logged_in_user==user.id %}
        <!-- Back button -->
        <a href="{{ url_for('profile') }}" class="open-sans back-button" aria-label="Go back to profile page.">
            <i class="fa-solid fa-backward-step"></i>
            <span>Back</span>
        </a>
        <br>
        <!-- Edit profile title -->
        <h2 class="playfair-display edit-profile-title" id="edit-profile-title">Edit Profile</h2>

        <!-- Edit profile form -->
        <form id="edit-profile-form" method="POST">

            {{ form.hidden_tag() }}

            <!-- About me -->
            <div class="edit-profile-input">
                <label for="about_me" class="roboto-regular">{{ form.about_me.label }}</label>
                {{ form.about_me }}
            </div>

            <!-- Is parent toggle -->
            <div class="edit-profile-input">
                <label for="is_parent" class="roboto-regular">{{ form.is_parent.label }}</label>
                <div class="switch">
                    <label>
                      Not a parent
                      {{ form.is_parent(class="form-control") }}
                      <span class="lever"></span>
                      I have children
                    </label>
                  </div>
            </div>

            <!-- Country select -->
            <div class="edit-profile-input">
                <label for="country" class="roboto-regular">{{ form.country.label }}</label>
                {{ form.country(class="form-control") }}
            </div>

            <!-- Profile picture -->
            <div class="edit-profile-input">
                <label for="user_image" class="roboto-regular">{{ form.user_image.label }}</label>
                {{ form.user_image }}
            </div>

            <!-- Change Password and Submit buttons-->
            <div class="edit-profile-buttons">
                <a href="{{ url_for('change_password', user_id=user.id )}}" class="waves-effect edit-profile-button open-sans" aria-label="Go to change password page">Edit password</a>
                <input class="open-sans edit-profile-button" type="submit" value="Save Changes">
            </div>
        </form>
    {% else %}
        <!-- Redirect to Error 403: Access Denied -->
        <script>
            window.location.href = "{{ url_for('error403') }}";
        </script>
    {% endif %}
{% endblock %}