{% extends "base.html" %}

<!-- Homepage Content -->
{% block content %}
    <!-- Hero image and title-->
    <div id="hero-image" class="valign-wrapper center-align" role="img" aria-label="Toy tribe welcome image of an assortment of toys.">
        <div>
            {% if 'user_id' in session %}
                <!-- Title for logged in users -->
                <h2 class="playfair-display hero-text">Welcome Back to Toy Tribe!</h2>
                <a href="{{ url_for ('toys' )}}" class="waves-effect waves-light btn-large hero-button open-sans"  aria-label = "Go to the Toy Tribe toys page">Toys</a>
            {% else %}
                <!-- Title for logged out users -->
                <h2 class="playfair-display hero-text"></h2>
                <a href="{{ url_for ('signup' )}}" class="waves-effect waves-light btn-large hero-button open-sans" aria-label="Go to the Toy Tribe signup page">Signup</a>
                <a href="{{ url_for ('login' )}}" class="waves-effect waves-light btn-large hero-button open-sans" aria-label="Go to the Toy Tribe login page">Login</a>
            {% endif %}
        </div> 
    </div>
    <!-- Homepage message -->
    <div id="homepage-message">
        <p class="roboto-regular" >
            Toy tribe is a fun and engaging online community of dedicated parents and carers who review, recommend, and rate children's toys!
            Let us help you to find the toys that your children will cherish.
        </p>
    </div>
{% endblock %}