{% extends "base.html" %}

<!-- Title for broswer tab -->
{% block title %}
> {{ toy.name }}
{% endblock %}

<!-- Toy Page Content-->
{% block content %}
    {% if 'user_id' in session %}
        <a href="{{ url_for('toys') }}" id="back-to-toys" class="open-sans" aria-label="Go back to Toys page">
            <i class="fa-solid fa-backward-step"></i>
            <span>Back to Toys</span>
        </a>
        <br>
        <h2 class="playfair-display" id="individual-toy-title">{{ toy.name }}</h2>

        <div class="row toy-row">
            <div class="toy-information-display col s12">
                <div class="card">
                    <div class="card-image">
                        <img class="toy-image" src="{{ toy.image_url }}" alt="An image for {{ toy.name }}">
                        <span class="card-title individual-toy-rating">Average Rating</span>
                    </div>
                    <div class="card-content">
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="toy-col-1 open-sans">Toy Name:</td>
                                    <td class="toy-col-2 roboto-regular">{{ toy.name }}</td>
                                </tr>
                                <tr>
                                    <td class="toy-col-1 open-sans">Company Name:</td>
                                    <td class="toy-col-2 roboto-regular">{{ toy.company }}</td>
                                </tr>
                                <tr>
                                    <td class="toy-col-1 open-sans">Type of Toy:</td>
                                    <td class="toy-col-2 roboto-regular">{{ toy_types[toy.toy_type_id].toy_type }}</td>
                                </tr>
                                <tr>
                                    <td class="toy-col-1 open-sans">Description:</td>
                                    <td class="toy-col-2 roboto-regular">{{ toy.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="toy-buttons-div">
                            <a href="{{ url_for('add_review', toy_id=toy.id )}}"  class="waves-effect waves-light btn-small roboto-regular toy-buttons" aria-label="Add a review for {{ toy.name }}">Review Toy</a>

                            {% if user_id == toy.user_id %}
                                <a href="{{ url_for('edit_toy', toy_id=toy.id) }}" class="waves-effect waves-light btn-small roboto-regular toy-buttons" aria-label="Go to the edit toy page for {{ toy.name }}">Edit toy</a>
                                <a href="{{ url_for('delete_toy', toy_id=toy.id) }}" class="waves-effect waves-light btn-small roboto-regular toy-buttons" aria-label="Delete {{ toy.name }}">Delete toy</a>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <section>
            {% for review in reviews %}
                <div class="row">
                    <div class="col s6">
                        {% set author = Users.query.filter_by(id = review.user_id).first() %}
                        {{ author.first_name }} {{ author.last_name }}
                    </div>
                    <div class="col s6">
                        {% if review.rating == 1 %}
                            <p>1</p>
                        {% elif review.rating == 2 %}
                            <p>2</p>
                        {% elif review.rating == 3 %}
                            <p>3</p>
                        {% elif review.rating == 4 %}
                            <p>4</p>
                        {% else %}
                            <p>5</p>
                        {% endif %}
                    </div>
                    <div class="col s12">
                        <p>{{ review.review_content }}</p>
                    </div>
                    <div class="col s12">
                        {% if review.also_liked %}
                            <p>Also liked:</p>
                            <ul>
                                {% for liked_toy_id in review.also_liked %}
                                    {% set liked_toy = Toy.query.filter_by(id=liked_toy_id).first() %}
                                        <li>Name: {{ liked_toy.name }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </div>

                </div>
            {% endfor %}
            </section>
    {% else %}
        <!-- Redirect to homepage -->
        <script>
            window.location.href = "{{ url_for('home') }}";
        </script>
    {% endif %}


{% endblock %}

<!-- Use Cards For Reviews -->