{% extends "base.html" %}

<!-- Title for browser tab -->
{% block title %}
    > Login
{% endblock %}

<!-- Login Content -->
{% block content %}
    <!-- Login title -->
    <h2 id="login-title">
        <img src="{{ url_for('static',filename='img/login_title.png')}}" alt="Page title for Login">
    </h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                // Display the toast with the message
                M.toast({html: '{{ message }}'});
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Login form -->
    <form id="login-form" method="POST">

        {{ form.hidden_tag() }}

        <!-- Email -->
        {{ form.email.label(class_="roboto-regular") }}
        {{ form.email }}

        <!-- Password -->
        {{ form.password.label(class_="roboto-regular") }}
        {{ form.password }}

        <!-- Error messages -->
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "success-message" %}
                        <div class="form-success-messages open-sans">
                            {{ message }}
                        </div>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                M.toast({html: '{{ message }}'});
                                setTimeout(function() {
                                    window.location.href = "{{ url_for('home') }}";
                                }, 2000); // 2000 milliseconds = 2 seconds
                            });
                        </script>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <!-- Submit button -->
        <input id="login-button" class="roboto-regular" type="submit" value="Login">

        <!-- Link to signup -->
        <p class="roboto-regular">
            Don't have an account yet? <br>
            <a href="{{ url_for ('signup' )}}" class="waves-effect waves-light btn-small signup-button roboto-regular" aria-label="Go the Toy Tribe signup page">Signup</a>
        </p>
    </form>
{% endblock %}