{% extends "base.html" %}

<!-- Title for browser tab -->
{% block title %}
    > Login
{% endblock %}

<!-- Login Content -->
{% block content %}
    <!-- Login title -->
    <h2 id="login-title">
        <img src="{{ url_for('static',filename='img/login_title.png')}}" alt="Page title for Login">
    </h2>
    <!-- Login form -->
    <form id="login-form" method="POST">

        {{ form.hidden_tag() }}

        <!-- Email -->
        <label for="email" class="roboto-regular">{{ form.email.label }}</label>
        {{ form.email }}

        <!-- Password -->
        <label for="password" class="roboto-regular">{{ form.password.label }}</label>
        {{ form.password }}

        <!-- Error messages -->
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="form-error-messages open-sans">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <!-- Submit button -->
        <input id="login-button" class="roboto-regular" type="submit" value="Login">

        <!-- Link to signup -->
        <p class="roboto-regular">
            Don't have an account yet? <br>
            <a href="{{ url_for ('signup' )}}" class="waves-effect waves-light btn-small signup-button roboto-regular" aria-label="Go the Toy Tribe signup page">Signup</a>
        </p>
    </form>
{% endblock %}