{% extends "base.html" %}

<!-- Title for browser tab -->
{% block title %}
    > Profile
{% endblock %}

<!-- Profile Page Content -->
{% block content %}
    <!-- Check if the user is logged in -->
    {% if 'user_id' in session %}
    <!-- Profile information -->
        <div class="row profile-content">
            <!-- Display flag if the user has one -->
            {% if flag_url %}
            <div class="col s12">
                <img class="country-flag" src="{{ flag_url }}" alt="Flag for {{ user_profile.country }}">
            </div>
            {% endif %}
            <!-- Display verified parent notice if there is one -->
            {% if user_profile.is_parent == True %}
            <div class="col s12 parent-check-section">
                <div class="parent-check">
                    <span class="roboto-regular">Verified Parent</span>
                    <i class="fa-regular fa-circle-check"></i>
                </div>
            </div>
            {% endif %}
            <!-- User profile image -->
            <div class = "col s12 m4 profile-picture">
                <img src="{{user_profile.user_image}}" alt="User profile image for {{ user.first_name }}">
            </div>
            <!-- Username -->
            <div class = "col s12 m8">
                <h2 class="playfair-display profile-name">
                {{ user.username }}
                </h2>
            </div>
            <!-- About me -->
            <div class="col s12 m8 profile-about-me">
                <p class="roboto-regular">
                    <span>About Me:</span>
                    {{ user_profile.about_me }}
                </p>
            </div>
            <!-- Edit and delete buttons if the user owns the profile -->
            {% if logged_in_user == user.id %}
            <div class = "col s12 profile-buttons-container">
                <a href="{{ url_for('edit_profile', user_id=user.id )}}" class="waves-effect waves-light btn-small open-sans profile-buttons" aria-label="Edit your profile">Edit Profile</a>
                <a href="#modal{{ user.id }}" class="waves-effect waves-light btn-small open-sans profile-buttons modal-trigger" aria-label="Delete your profile">Delete User</a>
            </div>
            {% endif %}
        </div>
        <!-- Reviews -->
        <div class="show-reviews">
            <!-- Display reviews title if there are any -->
            {% if reviews %}
            <h3 class="dangrek-regular" id="toy-review-title">Reviews</h3>
            {% endif %}
            <!-- Loop through reviews and create displays -->
            {% for review in reviews %}
                <!-- Put a divider above reviews but not the first one -->
                {% if not loop.first %}
                    <hr class="review-divider">
                {% endif %}
                <div class="row review-row">
                    <!-- Toy name and link to toy page -->
                    <div class="col s6 toy-reviewed open-sans">
                        {% set toy_reviewed = Toy.query.filter_by(id = review.toy_id).first() %}
                        <p>
                            <a href="{{ url_for('individual_toy', toy_id=toy_reviewed.id) }}" aria-label="Go to the page for {{ toy_reviewed.name }}">{{ toy_reviewed.name }}</a>
                        </p>
                    </div>
                    <!-- Toy rating -->
                    <div class="col s6 review-rating open-sans">
                        <!-- Star rating display from Fred Genkin https://codepen.io/FredGenkin/pens/showcase-->
                        <div class="Stars review-rating-stars" style="--rating: {{ review.rating }};" aria-label="Rating of this product is {{ review.rating }} out of 5."></div>
                    </div>
                    <!-- Divider under name and rating -->
                    <div class="col s12">
                        <hr class="review-name-divider">
                    </div>
                    <div class="col s12">
                        <p class="roboto-regular profile-review-content">{{ review.review_content }}</p>
                    </div>
                    <!-- Also liked -->
                    <div class="col s12">
                        {% if review.also_liked %}
                        <hr class="carousel-divider">
                        <p class="open-sans also-liked-title">This review is by someone who likes:</p>
                            <div class="carousel"> 
                                <!-- Loop through the also_liked list of toy ids-->
                                {% for liked_toy_id in review.also_liked %}
                                    <!-- Get the toy which matches the toy id-->
                                    {% set liked_toy = Toy.query.filter_by(id=liked_toy_id).first() %}
                                        <!-- If the toy still exists (not deleted)-->
                                        {% if liked_toy %}
                                        <div style="background-image: url('{{ liked_toy.image_url }}');" class="carousel-toy carousel-item" role="image" aria-label="Image for {{ liked_toy.name }}. The reviewer likes toy.">
                                            <div class="carousel-name-container">
                                                <a href="{{ url_for('individual_toy', toy_id = liked_toy.id) }}" class="open-sans liked-toy-link" aria-label="Link to {{ liked_toy.name }} page">{{ liked_toy.name }}</a>
                                            </div>
                                        </div> 
                                        {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <!-- Edit and delete review buttons for owner -->
                    {% if (user_id == review.user_id) or (logged_in_user == review.user_id) %}
                    <div class="col s12 review-buttons">
                        <a href="{{ url_for('edit_review', review_id=review.id) }}" class="waves-effect waves-light btn-small roboto-regular review-toy-buttons" aria-label="Edit this review for {{ toy_reviewed.name }}">Edit review</a>
                        <a href="#modal{{ review.id }}" class="waves-effect waves-light btn-small roboto-regular review-toy-buttons modal-trigger" aria-label="Delete review for {{ toy_reviewed.name }}">Delete review</a>
                    </div>
                    {% endif %}
                </div>
                <!-- Confirm review delete modal -->
                <div id="modal{{ review.id }}" class="modal delete-modal">
                    <div class="modal-content">
                        <p class="confirm-message playfair-display">Are you sure?</p>
                        <p class="modal-text roboto-regular">You are about to permanently delete your review for the toy: {{ toy_reviewed.name }}. Are you sure that you want to continue?</p>
                    </div>
                    <div class="modal-footer row">
                        <div class="col s6 confirm-delete-button-container">
                            <a href="#!" class="confirm-delete-no col s5 modal-close waves-effect waves-green btn-flat open-sans" aria-label="Cancel deletion">Cancel</a>
                        </div>
                        <div class="col s6 confirm-delete-button-container">
                            <a href="{{ url_for('delete_review', review_id=review.id, ref='profile') }}" class="col s5 confirm-delete-yes modal-close waves-effect waves-green btn-flat open-sans" aria-label="Confirm deletion">Confirm</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Confirm user delete modal -->
        <div id="modal{{ user.id }}" class="modal delete-modal">
            <div class="modal-content">
                <p class="confirm-message playfair-display">Are you sure?</p>
                <p class="modal-text roboto-regular">You are about to permanently delete your entire user account. Are you sure that you want to continue?</p>
            </div>
            <div class="modal-footer row">
                <div class="col s6 confirm-delete-button-container">
                    <a href="#!" class="confirm-delete-no col s5 modal-close waves-effect waves-green btn-flat open-sans" aria-label="Cancel deletion">Cancel</a>
                </div>
                <div class="col s6 confirm-delete-button-container">
                    <a href="{{ url_for('delete_user', user_id=user.id) }}" class="col s5 confirm-delete-yes modal-close waves-effect waves-green btn-flat open-sans" aria-label="Confirm deletion">Confirm</a>
                </div>
            </div>
        </div>
    {% else %}
        <!-- Redirect to homepage -->
        <script>
            window.location.href = "{{ url_for('home') }}";
        </script>
    {% endif %}    
{% endblock %}