{% extends "base.html" %}

<!-- Title for browser tab -->
{% block title %}
    > Signup
{% endblock %}

<!-- Signup Content -->
{% block content %}
    <!-- Signup title -->
    <h2 id="signup-title">
        <img src="{{ url_for('static',filename='img/signup_title.png')}}" alt="Page title for Signup">
    </h2>
    <!-- Alert display-->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} signup-error roboto-regular">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Signup form -->
    <form id="signup-form" method="POST">
    
        {{ form.hidden_tag() }}
        
        <!-- First name -->
        <label for="first_name" class="roboto-regular">
            <i class="fa-solid fa-user-large"></i>
            {{ form.first_name.label }}
        </label>
        {{ form.first_name }}

        <!-- Last name -->
        <label for="last_name" class="roboto-regular">
            <i class="fa-solid fa-user-large"></i>
            {{ form.last_name.label }}
        </label>
        {{ form.last_name }}

        <!-- Username -->
        <label for="last_name" class="roboto-regular">
            <i class="fa-regular fa-id-card"></i>
            {{ form.username.label }}
        </label>
        {{ form.username }}

        <!-- Email address -->
        <label for="email" class="roboto-regular">
            <i class="fa-solid fa-envelope"></i>
            {{ form.email.label }}
        </label>
        {{ form.email }}

        <!-- Password -->
        <label for="password" class="roboto-regular" id="signup-password">
            <i class="fa-solid fa-lock"></i>
            {{ form.password.label }}
        </label>
        {{ form.password }}
        <span class="helper-text roboto-regular">Password must be 8 or more characters and include at least one capital letter, one number, and one special character.<br></span>

        <!-- Confirm password-->
        <label for="confirm_password" class="roboto-regular" id="signup-confirm">
            <i class="fa-solid fa-lock confirm-password"></i>
            {{ form.confirm_password.label }}
        </label>
        {{ form.confirm_password }}

        <!-- Submit button -->
        <input id="signup-button" class="roboto-regular" type="submit" value="Signup">
    </form>
{% endblock %}