{% extends "base.html" %}

<!-- Title for browser tab -->
{% block title %}
    > Signup
{% endblock %}

<!-- Signup Content -->
{% block content %}
    <!-- Signup title -->
    <h2 id="signup-title">
        <img src="{{ url_for('static',filename='img/signup_title.png')}}" alt="Page title for Signup">
    </h2>
    <!-- Alert display-->
    {% with messages = get_flashed_messages(with_categories=false) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert signup-error roboto-regular">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!-- Signup form -->
    <form id="signup-form" method="POST">
    
        {{ form.hidden_tag() }}
        
        <!-- First name -->
        <i class="fa-solid fa-user-large"></i>
        {{ form.first_name.label(class_="roboto-regular") }}
        {{ form.first_name }}

        <!-- Last name -->
        <i class="fa-solid fa-user-large"></i>
        {{ form.last_name.label(class_="roboto-regular") }}
        {{ form.last_name }}

        <!-- Username -->
        <i class="fa-solid fa-user-large"></i>
        {{ form.username.label(class_="roboto-regular") }}
        {{ form.username }}

        <!-- Email address -->
        <i class="fa-solid fa-envelope"></i>
        {{ form.email.label(class_="roboto-regular") }}
        {{ form.email }}

        <!-- Password -->
        <i class="fa-solid fa-lock"></i>
        {{ form.password.label(class_="roboto-regular", id="signup-password") }}
        {{ form.password }}
        <span class="helper-text roboto-regular">Password must be 8 or more characters and include at least one capital letter, one number, and one special character.<br></span>

        <!-- Confirm password-->
        <i class="fa-solid fa-lock confirm-password"></i>
        {{ form.confirm_password.label(class_="roboto-regular", id="signup-confirm") }}
        {{ form.confirm_password }}

        <!-- Submit button -->
        <input id="signup-button" class="roboto-regular" type="submit" value="Signup">
    </form>
{% endblock %}