{% extends "base.html" %}

<!-- Title for browser tab -->
{% block title %}
    > Toys
{% endblock %}

<!-- Toys Page Content -->
{% block content %}
    <!-- Check the user is logged in -->
    {% if 'user_id' in session %}
        <!-- Toys title -->
        <h2 id="toys-title">
            <img src="{{ url_for('static',filename='img/toys_title.png')}}" alt="Page title for Toys">
        </h2>
        <!-- Floating add-toy button -->
        <div class="fixed-action-btn add-toy-button">
            <p class="open-sans">Add Toy</p>
            <a class="btn-floating btn-large grey lighten-1" href="{{url_for('add_toy')}}" aria-label="Add a new toy">
                <i class="fa-solid fa-circle-plus"></i>
            </a>
        </div>
        <!-- Search and filter section -->
        <div class="row search-row">
            <!-- Search bar -->
            <div class="col s12 m6 toys-search">
                <form action="{{ url_for('toys') }}" method="GET" class="search-form">
                    <label for="search_query" class="hidden-label" id="search-label">Search</label>
                    <input type="text" name="search_query" placeholder="Search toys..." class="toy-search-text" aria-labelledby="search-label" >
                    <button type="submit" class="btn waves-effect waves-light toy-search-button" aria-label="Submit search">Search</button>
                </form>
            </div>
            <!-- Filter bar -->
            <div class="col s12 m6 right">
                <form method="GET" action="{{ url_for('toys') }}" class="sort-form-toys right">
                    <label for="sort" id="sort-label">Sort toys:</label>
                    <select name="sort" id="sort" aria-labelledby="sort-label" onchange="this.form.submit()">
                        <option aria-labelledby="sort-label"  value="name_asc" {% if sort_option == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option aria-labelledby="sort-label"  value="name_desc" {% if sort_option == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option aria-labelledby="sort-label"  value="type_asc" {% if sort_option == 'type_asc' %}selected{% endif %}>Toy Type (A-Z)</option>
                        <option aria-labelledby="sort-label"  value="type_desc" {% if sort_option == 'type_desc' %}selected{% endif %}>Toy Type (Z-A)</option>
                        <option aria-labelledby="sort-label"  value="company_asc" {% if sort_option == 'type_desc' %}selected{% endif %}>Company (A-Z)</option>
                        <option aria-labelledby="sort-label"  value="company_desc" {% if sort_option == 'type_desc' %}selected{% endif %}>Company (Z-A)</option>
                        <option aria-labelledby="sort-label"  value="rating_asc" {% if sort_option == 'rating_asc' %}selected{% endif %}>Rating (Low to High)</option>
                        <option aria-labelledby="sort-label"  value="rating_desc" {% if sort_option == 'rating_desc' %}selected{% endif %}>Rating (High to Low)</option>
                    </select>
                </form>
            </div>
        </div>
        <!-- Toy display section -->
        <div class="row" id="toys-page">
            {% for toy in toys %}
            <!-- Toy card -->
            <div class="card sticky-action col s12 m6 l4 xl3 toys-card">
                <!-- Toy rating -->
                <aside class="open-sans review-display right">
                    {% if toy.average_rating() | float != 0 %}
                    <!-- Star rating display from Fred Genkin https://codepen.io/FredGenkin/pens/showcase-->
                    <div class="Stars individual-toys-star-rating" style="--rating: {{ toy.average_rating() | float | round(1) }};" aria-label="Rating of this product is {{ toy.average_rating() | float | round(1) }} out of 5."></div>
                    {% else %}
                    <div class="no-reviews">Not reviewed yet</div>
                    {% endif %}
                </aside>
                <!-- Toy image -->
                <div class="card-image waves-effect waves-block waves-light center-align">
                    <a class="toy-image-link" href="{{ url_for('individual_toy', toy_id=toy.id) }}" aria-label="Go the individual toy page for {{ toy.name }}">
                        <img class="toys-image" src="{{ toy.image_url }}" alt="Image of {{ toy.name }}">
                    </a>
                </div>
                <!-- Toy title and see more -->
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        <a class="toys-toy-title open-sans" href="{{ url_for('individual_toy', toy_id=toy.id) }}">{{ toy.name }}</a>
                        <i class="fa-solid fa-ellipsis right" aria-label="See more information about {{ toy.name }}"></i>
                        <br>
                    </span>
                    <!-- Toy edit and delete buttons -->
                    {% if user_id == toy.user_id %}
                        <div class="card-action">
                            <div class="toys-buttons-div">
                                <a href="{{ url_for('edit_toy', toy_id=toy.id, ref='toys') }}" class="waves-effect waves-light btn-small roboto-regular toys-buttons" aria-label="Go to edit toy page for {{ toy.name }}">Edit toy</a>
                                <!-- Delete toy modal trigger-->
                                <a href="#modal{{ toy.id }}" class="waves-effect waves-light btn-small roboto-regular toys-buttons modal-trigger" aria-label="Delete {{ toy.name }}">Delete toy</a>
                                  <!-- Modal Trigger -->
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!-- Expanded card details-->
                <div class="card-reveal">
                    <span class="card-title">
                        <div class="row">
                            <div class="col s10">
                                <a class="toys-toy-title-reveal open-sans" href="{{ url_for('individual_toy', toy_id=toy.id) }}" aria-label="Go the individual toy page for {{ toy.name }}">{{ toy.name }}</a>
                            </div>
                            <div class="col s2">
                                <i class="fa-solid fa-x right close-toy"></i>
                            </div>
                        </div>
                    </span>
                    <p class="roboto-regular toy-reveal-description">
                        A {{ toy.company }} toy.
                        <br>
                        Type: {{ toy_types[toy.toy_type_id].toy_type }}
                    </p>
                    <p class="toy-description toy-reveal-description">
                        <strong>Description: </strong>{{ toy.description }}
                    </p>
                </div>
            </div>
            <!-- Confirm delete modal -->
            <div id="modal{{ toy.id }}" class="modal delete-modal">
                <div class="modal-content">
                    <p class="confirm-message playfair-display">Are you sure?</p>
                    <p class="modal-text roboto-regular">You are about to permanently delete the toy: {{ toy.name }}. Are you sure that you want to continue?</p>
                </div>
                <div class="modal-footer row">
                    <div class="col s6 confirm-delete-button-container">
                        <a href="#!" class="confirm-delete-no col s5 modal-close waves-effect waves-green btn-flat open-sans" aria-label="Cancel deletion">Cancel</a>
                    </div>
                    <div class="col s6 confirm-delete-button-container">
                        <a href="{{ url_for('delete_toy', toy_id=toy.id) }}" class="col s5 confirm-delete-yes modal-close waves-effect waves-green btn-flat open-sans" aria-label="Confirm deletion">Confirm</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Back to top div -->
            <div class="back-to-top-container col s12 m6 l4 xl3">
                <a href="#" onclick="window.scrollTo({top: 0, behavior: 'smooth'}); return false;">
                    <i class="fa-solid fa-caret-up"></i><br>
                    <span>Back to top</span>
                </a>
            </div>
        </div>
    {% else %}
        <!-- Redirect to homepage -->
        <script>
            window.location.href = "{{ url_for('home') }}";
        </script>
    {% endif %}
{% endblock %}